.musburger {
  display: flex;
  justify-content: center;
  transform-origin: center 40vh;
  position: relative;
  height: 400px;
}

.musburger-buttons {
  display: flex;
  justify-content: center;
  position: relative;
}

.musburger-head {
  position:absolute;
  width: 250px;
  height: auto;
  z-index:-1;
}

.musburger-mouth {
  position:absolute;
  width: 250px;
  height: auto;
  z-index:-1;
}

/* safari and chrome */
 @-webkit-keyframes wiggle {
 	0% {-webkit-transform:rotate(8deg);}
 	50% {-webkit-transform:rotate(-8deg);}
 	100% {-webkit-transform:rotate(8deg);}
 }

@keyframes wiggle {
	0% {transform:rotate(8deg);}
	50% {transform:rotate(-8deg);}
	100% {transform:rotate(8deg);}
}

.wiggler {
  -webkit-animation: wiggle 3s infinite;
	animation: wiggle 3s infinite;
}

@-webkit-keyframes talking {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 5%);}
  100% {transform: translate(0px, 0px);}
}

@keyframes talking {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 5%);}
  100% {transform: translate(0px, 0px);}
}

.talk {
  -webkit-animation: talking 0.19s infinite;
  animation: talking 0.19s infinite;
}

.button-3d {
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;

  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  outline: none;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
    outline: none;
}
