.musburger {
  display: flex;
  justify-content: center;
  transform-origin: center 40vh;
  position: relative;
  height: 400px;
}

.musburger-head {
  position:absolute;
  width: 250px;
  height: auto;
  z-index:-1;
}

.musburger-mouth {
  position:absolute;
  width: 250px;
  height: auto;
  z-index:-1;
}

@keyframes wiggle {
	0% {transform:rotate(8deg);}
	50% {transform:rotate(-8deg);}
	100% {transform:rotate(8deg);}
}

.wiggler {
	animation: wiggle 3s infinite;
}

@keyframes talking {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 5%);}
  100% {transform: translate(0px, 0px);}
}

.talk {
  animation: talking 0.19s infinite;
}
